<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>.e-Vote : Your Voice Matters</title>
    <!-- Font Awesome CDN-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />

    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <link rel="shortcut icon" type="x-icon" href="img/logo.png">
    <!-- Google Font -->
    <!-- <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    /> -->
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&amp;display=swap" rel="stylesheet"/>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="css/adminDashboard.css" />

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

  </head>
  <body>
    <!-- header section -->
    <header class="header_section">
        <a class="navbar-brand" href="adminDashboard">
            <span>
            .e-Vote 
            </span>
        </a>
      </header>
    <!-- /header section -->
    <section>
      <div class="row">
        <h2 class="section-heading">Admin Services</h2>
      </div>
      <div class="row">
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class="fa-solid fa-list-check"></i>
            </div>
            <a href="/electionphase"><h3>Set Election Phase</h3></a>
            <p>
              
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <!-- <i class="fa-solid fa-school-circle-check"></i> -->
              <i class="fa-solid fa-rectangle-list"></i>
            </div>
            <a href="/party_requests"><h3>Party Registration Requests</h3></a>
            <p>
              
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <!-- <i class="fa-solid fa-ballot-check"></i> -->
              <!-- <i class="fa-solid fa-memo-circle-check"></i> -->
              <i class="fa-solid fa-rectangle-list"></i>
            </div>
            <a href="/accepted_partys"><h3>View Accepted Party's</h3></a>
            <p>
              
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class="fa-solid fa-address-book"></i>
            </div>
            <a href="/candidate_request"> <h3>Candidate Nominations</h3></a>
            <p>
              
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class="fa-solid fa-clipboard-list"></i>
            </div>
            <a href="/accepted_nominations"><h3>View Approved Candidates</h3></a>
            <p>
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class="fa-solid fa-chart-line"></i>
            </div>
            <a href="electionresults"><h3>Publish Results</h3></a>
            <p>
            </p>
          </div>
        </div>
      </div>
    </section>
    <% if (msg == "Please update the current Election Phase!") { %>
      <div id="myModal" class="modal1" >
        <div class="modal-content">
          <a href="/adminDashboard"><span class="close1" id="close">&times;</span></a>
          <p class="msg"><%= msg %><br><br>
            <a href="/adminDashboard"><input type="button" class="ok" value="OK" id="ok" name="ok"></a></p>
        </div>
      </div>
      <% } else {%>
        <div id="myModal" class="modal" >
           <div class="modal-content">
             <span class="close" id="close">&times;</span>
             <p class="msg">Record inserted successfully!<br><br>
             <a href="/adminDashboard"><input type="button" class="ok" value="OK" id="ok" name="ok"></a></p>
            <button id="ok" name="ok" onclick="location.href='adminDashboard'">OK</button> 
           </div>
         </div>
         <% } %>
  </body>
</html>

<script>
//   window.addEventListener('pageshow', function(event) {
//   // Check if the current page is the dashboard page and was loaded from the cache
//   if (window.performance && window.performance.navigation.type === window.performance.navigation.TYPE_BACK_FORWARD && window.location.pathname === '/votingResults1') {
//     // Redirect the user to the homepage
//     window.location.href = '/';
//   }
// });
</script>