<!DOCTYPE html>
<html lang="en">
<head>
<title>.e-Vote : Your Voice Matters</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/democracy.css" rel="stylesheet" type="text/css" media="all">
<link rel="shortcut icon" type="x-icon" href="img/logo.png">
<link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&amp;display=swap" rel="stylesheet" type="text/css">

</head>
<body>
  <button class="page-up-button">↑</button>
<div id="headerwrap">
  <header id="mainheader" class="bodywidth">
        <span>
            .e-Vote
           </span> 
   
  </header>
   
</div>


  <div id="aboutleft">
    <h1>INDIAN DEMOCRACY</h1>
    <h2>Democracy</h2>
    <p>Democracy is a political structure in which people directly exercise power, or elect members from among themselves to represent the people, such as a parliament. It is also called the majority rule and here can’t inherit the power. People are choosing their representatives. Representatives participate in an election and the voters elect their member.</p>
    <h2>Indian Democracy</h2>
    <p>India is the largest democracy in the world. It was declared secular and democratic when its Constitution came into force on 26 January 1950. The democratic India believes in the principles of equality, liberty, justice and fraternity. The people from any caste, creed, sex, religion, and region have an equal right to vote and choose their representatives. The parliamentary form of government in India is based on the pattern of the British.</p>
    <p> In India, there is a federal form of government which means there is a government at the centre and at the state. The government at the centre is responsible to the parliament, and the state governments are responsible towards their respective legislative assemblies. The government at the centre and the state are democratically elected and follow the patterns of the two houses of the Parliament - Lok Sabha and Rajya Sabha. The government at the centre and the state together elect the President of the country who is also the Head of the State.</p>
    <img src="img/indiandemocracy.jpg"></img>

    <h2>Working Principle of Democracy</h2>
    <p>
      <ul>
      <li>One of the ideas of democracy is that it must be equal for all people in society.</li>
      <li>Equality has to be included in the individual vote for it to operate.</li>
      <li>Denying communities the right to vote runs according to the role of democracy, a system of government in which the vote of every citizen has equal weight.</li>
      </ul>
    </p>
   <img src="img/workingdemocracy.jpeg"></img>

  <h2>Elections in India</h2>
  <p>For the Parliament of India, the elections are held after every five years and the Prime Minister is selected thereafter. As per the Constitution of India, all the states and union territories participate in the elections to elect the government. The elected members of the Lok Sabha, the Lower House of the Parliament, together elect the Prime Minister. These members of the Lok Sabha are directly elected by universal adult suffrage except for two members who are elected by the President of India. The members of the Upper House of the Parliament, Rajya Sabha are elected by the members of the legislative assemblies of all states and union territories of India. There are many national as well as regional parties in the country which take part in the elections to form a government.</p>
  <img src="img/elections3.png"></img>

  <h2>The First Elections in Democratic India</h2>
  <p>Democracy took a step forward when the democratic India voted, chose and elected their first government. These elections turned out to be one of the biggest experiments of democracy in the world. The elections were conducted on the basis of universal adult franchise. The people of the country had no prior experience of such elections and even bigger challenge was to guess their response to the chance of allowing them to choose their government. The procedure of the elections was spread for about four months i.e. from 25 October 1951 to 21 February 1952. More than 14 national and 63 regional parties and many independent candidates contested the elections. The Indian National Congress stood victorious in the elections by bagging majority of seats.</p>
  <img src="img/firstelection.jpg"></img>
    
  <h2>Factors Affecting Democracy in India</h2>
  <p>Although India is the largest democracy in the world, there are certain factors which affect it. Factors such as corruption, women's issues, caste issues, political strategies etc. affect politics at the national and the state level in the country. Illiteracy is a major factor which can affect the smooth functioning of democracy in the country. Education plays an important role among the people to choose their representative. The ignorant illiterate class could be manipulated by the candidates or the political parties. Poverty too affects the successful running of the democracy. It is been more than six decades since India gained independence, but still the votes are purchased from the people, especially the poor. The country is not able to control the use of the money and the muscle power in the election processes. Manipulation of people's verdict by the political parties is still practiced. Such factors need to be curbed and taken care of so as to conduct fair elections.</p>
  <img src="img/factoryaffecting.jpeg"></img>

  <h2>Features of Democratic Government in India</h2>
  <img src="img/features.jpeg"></img>
  <p>
  <ul>
    <li><h3>Collective Responsibility</h3></li>
  </ul>
  <p>In the democratic government in India, both the center and state, the Council of Ministers to their respective legislatures are collectively responsible. For any act by the government, the entire ministers of the council are responsible and not a single minister alone. </p> 

  <ul>
    <li><h3> Majority Rules</h3></li>
  </ul>
  <p>The majority rule is one of the main features of Indian democracy. The party which forms the government needs to get the majority number of votes in the election. This is the majority rule and every citizen of the country must support and accept the government that got the majority number of votes from the citizens.</p>

  <ul>
    <li><h3>Opinions of the minority are respected</h3></li>
  </ul>
  <p>Though Indian democracy has the feature of majority rules opinions of minorities are also considered. Minorities are also asked to give their opinions on any field. As India is a democratic form of government so both positive and negative criticisms are taken into consideration and minorities’ opinions must be tolerated by majorities.</p>

  <ul>
    <li><h3>Provisions for Rights</h3></li>
  </ul>
  <p>Indian democratic government provides several rights to the individual. These rights include the Right to Education, Freedom of speech and expression, the Right to form a union or association, etc.</p>

  <ul>
    <li><h3>Government that Compromise</h3></li>
  </ul>
  <p>Indian democracy is a form of government that considers the opinion of the ruling party as well as the other parties. It is a type of government that compromise and adjusts.</p>

  <ul>
    <li><h3>Independent Judiciary</h3></li>
  </ul>
  <p>The Independent judiciary is another feature of democratic government. Independent judiciary means that in a democratic form of government the judiciary need not depend on the legislature or executive.</p>

  <ul>
    <li><h3>Political equality</h3></li>
  </ul>
  <p>Indian democracy is based on political equality, which means every citizen of India is equal before the law and has the right for voting irrespective of class, creed, caste, race, sex, and religion. </p></p>

  <h2>Challenges Faced by Indian Democracy</h2>
  <p>India functions as a responsible democracy since independence. The elections are held periodically in the country to elect the representatives, from the Panchayats to the President. The major challenge faced by the democracy is the heterogeneous composition of the country as the Indian society is divided on the basis of the caste, and religion, etc. People in India still vote in favour of caste, community or religion. Criminalisation of politics and political violence also create hindrance in the smooth functioning of the democracy. There have been instances and allegations in the recent past that some people in the political fraternity do not believe in the democratic practices and values. Political and communal violence has gained serious proportions in the country. These challenges can be overcome by taking adequate corrective measures.</p>
  <img src="img/challenges.png"></img>
    
  <h2>Role of the Citizens</h2>
  <p>The role of the citizens of India is most important for its democracy. For its successful working, the participation of the people is a must. The citizens of India have to proactively perform their role in the governance of the country and should respect the law and order of the nation. For a successful working of democracy, it is the right as well as the duty of every Indian to choose and elect the appropriate representative for the country. Also, every Indian has to realise that he should equally participate in the democracy. To vote wisely, it is important for every voter to carefully listen and understand the views and aims of the representatives or the political parties. They also have to respect the laws and reject violence. Expressing their opinion is as important as listening to the views of the others. The proactive participation of people is important and necessary to check how the country is being governed.</p>
  <img src="img/role.jpg"></img>
</div>
<div id="footerwrap"></div> 
<script src="js/democracy.js"></script>
</body>
</html>
