<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>.e-Vote : Your Voice Matters</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&amp;display=swap" rel="stylesheet"/>
     <link rel="stylesheet" href="css/SepLogin.css" type="text/css">
     <link rel="shortcut icon" type="x-icon" href="img/logo.png">
</head>
<body>
    <div class="container">
        <div class="team_container">
            <div class="text"><b>Your Voice, Your Vote : Secure Login for e-Voting</b></div>
        </div>
        <div class="row">
            <!--First User design starts here-->
            <div class="profile-card">
                <div class="profile-content">
                    <div class="profile-image">
                        <img src="img/voters_1.jpg" alt="first user">
                    </div>
                   
                    <div class="desc">
                        <h2>Voter Login</h2>
                       
                        <p>SignIn to your account by simply clicking on SignIn link below! If you don't have an account then go with SignUp link.</p>
                        <a href="/VoterLogin"><button class="btn">Login</button></a>
                        <p>Don't have account..? <br>
                            <a href="VoterReg1">Create Account</a>
                           
                        </p>
                    </div>
                </div>
            </div>
            <!--First user design ends here-->
             <!--second User design starts here-->
             <div class="profile-card">
                <div class="profile-content">
                    <div class="profile-image">
                        <img src="img/homeparty.jpg" alt="first user">
                    </div>
                    <div class="desc">
                        <h2>Party Login</h2>
                       
                        <p>SignIn to your Party's account by simply clicking on SignIn link below! If you don't have an account then go with SignUp link.</p>
                       <a href="Partylogin"> <button class="btn">Login</button></a>
                         <p>Don't have account..?<br> 
                            <a href="Partyreg">Create Account</a>
                        </p>
                    </div>
                </div>
            </div>
            <!--second user design ends here-->
             <!--third User design starts here-->
             <div class="profile-card">
                <div class="profile-content">
                    <div class="profile-image">
                        <img src="img/admin.png" alt="first user">
                    </div>
                    <div class="desc">
                        <h2>Administration Login</h2>
                        <p>You can signIn to your account by simply clicking on the button given below to manage all your admin work at one place!</p>
                        <a href="AdminLogin"><button class="btn">Login</button></a>
                        </p>
                    </div>
                </div>
            </div>
            <!--third user design ends here-->
        </div>
    </div>

</body>

</html>