<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>.e-Vote : Your Voice Matters</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&amp;display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="css/SepRegistration.css" type="text/css">
    <link rel="shortcut icon" type="x-icon" href="img/logo.png">
</head>
<body>
    <div class="container">
        <div class="team_container">
            <div class="text">Ensure Your Voice is Counted : Register for E-Voting Now</div>
        </div>
        <div class="row">
            <!--First User design starts here-->
            <div class="profile-card">
                <div class="profile-content">
                    <div class="profile-image">
                        <img src="img/voters_1.jpg" alt="first user">
                    </div>
                   
                    <div class="desc">
                        <h2>Voter Registration</h2>
                        <p>You can create your Voter's account on .e-Vote to get access to all your rights! Simply click on the given button!</p>
                        <a href="VoterReg1"><button class="btn">Create Account</button></a>
                        <p>Already have account..? <br>
                            <a href="VoterLogin">Sign in</a>
                           
                        </p>
                    </div>
                </div>
            </div>
            <!--First user design ends here-->
             <!--second User design starts here-->
             <div class="profile-card">
                <div class="profile-content">
                    <div class="profile-image">
                        <img src="img/homeparty.jpg" alt="first user">
                    </div>
                    <div class="desc">
                        <h2>Party Registration</h2>
                        <p>Now you can create your party's account on .e-Vote so that to manage all your work at once by simply clicking!</p>
                       <a href="Partyreg"> <button class="btn">Create Account</button></a>
                        <p>Already have account..?<br> 
                            <a href="Partylogin">Sign in</a>
                        </p>
                    </div>
                </div>
            </div>
            <!--second user design ends here-->
        </div>
    </div>
</body>
</html>