<!DOCTYPE html>
<html lang="en">
<head>
<title>.e-Vote : Your Voice Matters</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<link href="css/stepsToVote.css" rel="stylesheet" type="text/css" media="all">
<link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&amp;display=swap" rel="stylesheet" type="text/css">
<link rel="shortcut icon" type="x-icon" href="img/logo.png">
</head>
<body>
  <div id="headerwrap">
    <header id="mainheader" class="bodywidth clear">
    </header>
    <span>
      .e-Vote
     </span> 
  </div>
<h1 id="title">STEPS TO VOTE</h1>
<div class="process-steps">

  <div class="step">
    <div class="icon-circle">
      <i class="icon-number">1</i>
    </div>
    <br>
    <div class="step-title">Step 1 - First Authentication (Voter Id & Aadhar Card No)</div>
    <div class="step-description">Go on Login yourself with valid Voter-ID and Aadhar Card No</div>
  </div>

  <i class="arrow"></i>

  <div class="step">
    <div class="icon-circle">
      <i class="icon-number">2</i>
    </div>
    <br>
    <div class="step-title">Step 2 - OTP Authentication</div>
    <div class="step-description">Enter Valid OTP send to your Email-Id</div>
  </div>


  <i class="arrow"></i>

  <div class="step">
    <div class="icon-circle">
      <i class="icon-number">3</i>
    </div>
    <br>
    <div class="step-title">Step 3 - Voter Face Authentication</div>
    <div class="step-description">For Voter Authentication detect yourself in Authenticate Myself Section</div>
  </div>

  <i class="arrow"></i>

  <div class="step">
    <div class="icon-circle">
      <i class="icon-number">4</i>
    </div>
    <br>
    <div class="step-title">Step 4 - Actual Voting</div>
    <div class="step-description">After Successfull Face Detection and Recognition you will be redirected to actual voting area section</div>
  </div>
</div>
</section>
<!-- <script src="stepToVote.js"></script> -->
</body>
</html>
