/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
:root{
  --dark: #8e2de2;
  --light: #adb5bd;
  --border: #dee2e6;
  --border-btn: #edf2f4;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    /* display: flex; */
    /* align-items: center;  */
    /* justify-content: center; */
    /* background: #4070f4; */
    background-image: url(../img/bg1);
    background-size: cover;
    background-repeat: no-repeat;
    /* background: -webkit-gradient(linear, left top, right top, from(#864ddf), to(#203376));
    background: linear-gradient(to right, #864ddf, #203376); */
}
/* .container::before{
    content:'';
    position:absolute;
    bottom:0;
    left:50%;
    width:100vh;
    background-color:#feb543;
    border-radius: 50%;
    transform-origin: bottom;
    transform:translate(-50%) scale(4)
} */

/* header */
.header_section {
    padding-top: 30px;
  }
  
  /* .header_section .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
  } */
  
  /* .header_section .nav_container {
    margin: 0 auto;
  } */
  
  /* .custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 30px;
    color: #f9fcfb;
    text-align: center;
    text-transform: none;
  } */
  
  a,
  a:hover,
  a:focus {
    text-decoration: none;
  }
  
  a:hover,
  a:focus {
    color: initial;
  }
  
  /* .btn,
  .btn:focus {
    outline: none !important;
    -webkit-box-shadow: none;
            box-shadow: none;
  } */
  
  .navbar-brand,
  .navbar-brand:hover {
    text-transform:none;
    font-weight: bold;
    font-size: 20px;
    color: #864ddf;
  }
  
  /* .custom_nav-container .nav_search-btn {
    background-image: url(../images/search-icon.png);
    background-size: 22px;
    background-repeat: no-repeat;
    background-position-y: 7px;
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
  } */
  
  .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .navbar-brand span {
    font-size: 26px;
    font-weight: 700;
    color: #864ddf;
    margin-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
    /* margin-right: auto;
    margin-left: auto; */
    text-transform: none;
  }
  
  /* .custom_nav-container {
    z-index: 99999;
    padding: 5px 0;
  }
   */
  /* .custom_nav-container .navbar-toggler {
    outline: none;
  } */
  
  /* .custom_nav-container .navbar-toggler .navbar-toggler-icon {
    background-image: url(../images/menu.png);
    background-size: 40px;
  } */

  /* /header */

  .head-container{
    position: relative;
    
    max-width: 1250px;
    align-items: center;
    width: 100%;
    border-radius: 6px;
    border: 40px solid #864ddf;
    padding: 30px;
    margin:auto;
    margin-top: 50px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    overflow:hidden;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 30px 0 rgba(0, 0, 0, 0.19);
    /* align-items: center;
    justify-content: center; */
}
.vdo{
float :left;
/* margin-bottom: 60px; */
}
.can{
float : left !important;
/* background-color: #333; */
width: 50% !important;
padding-top: 30px !important;
/* padding:0px !important; */
/* display:flex !important; */
/* width:400px !important; */
}

.section-heading{
  margin-bottom: 20px;
  position: relative;
  color: #203376;
  display: grid !important;
  place-items: center !important;
  font-size: 40px;
  /* margin-top: -200px; */
}
.section-heading::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 4px;
  width: 310px;
  border-radius: 8px;
  /* background-color: #4070f4; */
  background-color: #feb543 ;
}
.row {
  display: flex;
  flex-wrap: wrap;
  display: grid !important;
  place-items: center !important;
  margin-top: 10px;
}




/* #shadow{
  width: 300px;
  height: 300px;
} */


.head-container .reg{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
   
}
.head-container .reg::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 125px;
    border-radius: 8px;
    /* background-color: #4070f4; */
    background-color: #feb543 ;
}
.head-container form{
    position: relative;
    margin-top: 25px;
    min-height: 520px;
    background-color: #fff;
    overflow: hidden;
    padding-left: 30px;
    
}

.head-container form .form{
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease;
    width: 90%;
}
.head-container form .form.second{
    opacity: 0;
    pointer-events: none;
    transform: translateX(40%);
}
form.secActive .form.second{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}
form.secActive .form.first{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);

    display: inline-block;
}
.head-container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}
.head-container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .input-field{
    display: flex;
    /* width: calc(100% / 1 - 1px); */
    width: 100%;
    flex-direction: column;
    margin: 8px 0;
}


.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}


p{
  font-size: 14px;
  margin-top: 50px;
  font-weight: 500;
  color: #757575;
}
.input-field .note{
    font-size: 10px;
    font-weight: 500;
    color: #454444;
}

.input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
    margin-bottom: 0px;
}
/* file upload */
.input-field #file{
    display: flex;
    width: calc(100% );
    flex-direction: column;
    margin: 8px 0;

    outline: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    color: #525151;
    border-radius: 5px;
    border: 1px dashed #aaa;
    padding: 10px 15px;
    height: 42px;
    margin: 8px 0;
} 
.input-field input[type="file"]::file-selector-button{
    display: none;
}
/* /file upload */

/* validations */
.input-field.success input{
	border-color: #2ecc71;
}

.input-field.error input{
	border-color: #e74c3c;
}

.input-field i {
	visibility: hidden;
    position: absolute;
	top: 40px;
	right: 10px;
}

.input-field.success i.fa-solid.fa-circle-check {
	color: #2ecc71;
	visibility: visible;
}

.input-field.error i.fa-solid.fa-circle-check {
	color: #e74c3c;
	visibility: visible;
}

.input-field small {
	color: #e74c3c;
	/* bottom: 0;
	left: 0; */
	visibility: hidden;
    font-size: 10px;
    font-weight: 400;
}

.input-field.error small {
	visibility: visible;
}

/* /validations */

.input-field input :focus,
.input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-field select,
.input-field input[type="date"]{
    color: #707070;
}
.input-field input[type="date"]:valid{
    color: #333;
}
.head-container form button, .backBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 150px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    /* margin: 25px 0; */
    margin-top: 40px;
    float : left;
    background-color: #feb543;
    -webkit-transition: all .3s;
    border-radius: 25px;
    -webkit-box-shadow: 0px 2px 7px 0px rgba(32, 50, 117, 0.26);
    box-shadow: 0px 2px 7px 0px rgba(32, 50, 117, 0.26);
    transition: all 0.3s linear;
    cursor: pointer;
}

.head-container form button:hover, .backBtn:hover {
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
  }

.head-container form .btnText{
    font-size: 14px;
    font-weight: 400;
}
/* form button:hover{
    background-color:  #feb543;
} */
form button i,
form .backBtn i{
    margin: 0 6px;
}
form .backBtn i{
    transform: rotate(180deg);
}
form .buttons{
    display: flex;
    align-items: center;
}
form .buttons button , .backBtn{
    margin-right: 14px;
}

@media (max-width: 750px) {
  .head-container{
    /* border-left: 8px solid #864ddf;
    border-bottom: 8px solid #864ddf;
    border-right: 8px solid #203376; */
    border-left: 8px solid #864ddf;
    border-bottom: 70px solid #864ddf;
    border-right: 8px solid #864ddf;
    border-top: 70px solid #864ddf;
    margin-top: 40px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
    .head-container form{
        overflow-y: scroll;
        padding-left: 0px;
        display: flex;
        flex-direction: column;
    }
    .head-container form::-webkit-scrollbar{
       display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 10px);
    }
    .head-container form .form{
      position: absolute;
      background-color: #fff;
      transition: 0.3s ease;
      width: auto;
      display: flex;
      flex-direction: column;
  }
  .vdo{
    margin-bottom: 20px;
  }
  /* .can{
    display: none;
    order:3;
  } */
  button{
    margin-top: 20px;
  }
}

@media (max-width: 550px) {
  .head-container{
    /* border-left: 8px solid #864ddf;
    border-bottom: 100px solid #864ddf;
    border-right: 8px solid #864ddf;
    border-top: 100px solid #864ddf ; */
    border-left: 8px solid #864ddf;
    border-bottom: 70px solid #864ddf;
    border-right: 8px solid #864ddf;
    border-top: 70px solid #864ddf;
    margin-top: 40px;
    padding-top: 0px;
    padding-bottom: 50px;
  }
    form .fields .input-field{
        width: 100%;
    }
    .head-container form{
      overflow-y: scroll;
      padding-left: 0px;
      display: flex;
      flex-direction: column;
  }
    .head-container form .form{
      position: absolute;
      background-color: #fff;
      transition: 0.3s ease;
      width: auto;
      display: flex;
      flex-direction: column;
  }
  /* .can{
    display: none;
    order:3;
  } */
  button{
    margin-top: 20px;
  }
}


/* table css */
table{
  border-spacing: 0px;
  width: 400px;
  font-size: 20px;
  /* border: 20px solid #864ddf; */
}

.table td, .table th{
  padding: .75em;
  vertical-align: middle;
  text-align: left;
  border-top: 1px solid var(--border);
}

.table td > a.btn{
  padding: .3em 1em;
  font-size: 1.1em;
  margin: 0 .2em;
}

.table tr:hover{
  background-color:#fed89b ;
}

td{
  vertical-align: middle !important;
}

.table tr:hover td > a{
  box-shadow: none;
  vertical-align: middle;
}

.table .thead-dark th{
  color: #fff;
  background-color: var(--dark) ;
  border-color: #32383e;
}

.second{
  float: right;
  padding-left: 50px;
    width: 50%;
  /* padding-right: 50px; */
  /* display: inline-block; */
}

.txt_center{
  text-align: center !important;
}
.lbl_center{
  margin: auto;
}

@media only screen and (max-width: 1024px){
  table, thead, tbody, th, td, tr{
      display: block;
      /* display: table-caption;
      width: 100%;
      caption-side: top; */
  }

  thead tr{
      position: relative;
      display: flex;
  }

  tr { 
      border: 1px solid var(--border);
      display:flex;
  }

  td{
      border: none;
      position: relative;
  }
  .second{
    float: none;
    width: 85%;
  }
  .can{
    float: none !important; 
    width: 85% !important;
  }
  
.txt_center{
  text-align: center !important;
}
.lbl_center{
  margin: auto;
}

}


@media (max-width: 750px) {
  table{
      border-spacing: 0px;
      width: 100%;
      /* border: 20px solid #864ddf; */
  }
  
  .table td, .table th{
      padding: .75em;
      vertical-align: middle !important;
      text-align: left;
      border-top: 1px solid var(--border);
  }
  
  .table td > a.btn{
      padding: .3em 1em;
      font-size: 1.1em;
      margin: 0 .2em;
  }
  
  .table tr:hover{
      background-color:#fed89b ;
  }
  
  .table tr:hover td > a{
      box-shadow: none;
  }
  
  .table .thead-dark th{
      color: #fff;
      background-color: var(--dark) ;
      border-color: #32383e;
      
  }
  .second{
    float: none;
    width: 85%;
  }
  .can{
    float: none !important;
    width: 85% !important;
  }
  .lbl_center{
    margin: auto;
  }
.txt_center{
  text-align: center !important;
}
}

@media (max-width: 550px) {
  table{
      border-spacing: 0px;
      width: 100%;
      margin-top: 50px;
      /* border: 20px solid #864ddf; */
  }
  
  .table td, .table th{
      padding: .75em;
      vertical-align: middle !important;
      text-align: left;
      border-top: 1px solid var(--border);
  }
  
  .table td > a.btn{
      padding: .3em 1em;
      font-size: 1.1em;
      margin: 0 .2em;
  }
  
  .table tr:hover{
      background-color:#fed89b ;
  }
  
  .table tr:hover td > a{
      box-shadow: none;
  }
  
  .table .thead-dark th{
      color: #fff;
      background-color: var(--dark) ;
      border-color: #32383e;
  }
  .second{
    padding-left: 0px;
    float: none;
    width: 85%;
  }
  .can{
    padding-left: 0px !important;
    float: none !important;
    width: 85% !important;
  }
  
.txt_center{
  text-align: center !important;
}
.lbl_center{
  margin: auto;
}
}

button{
  /* display: inline-block;
  padding: 8px 50px;
  background-color: #ffca56;
  color: #f9fcfb;
  border-radius: 5px; */
  -webkit-box-shadow: 0px 2px 7px 0px rgba(32, 50, 117, 0.26);
  box-shadow: 0px 2px 7px 0px rgba(32, 50, 117, 0.26);
  -webkit-transition: all .3s;
  transition: all .3s;
  /* border: none;
  border: none;
  text-transform: uppercase; */
  padding:8px;
  /* margin-left: 7px; */
  /* margin-right:7px; */
  margin:6px;
  border:none;
  font-size: 14px;
  width:120px;
  /* background-color: #864ddf; */
  background-color: #ffca56;
  color:white;
  font-weight: bold;
}
button:hover{
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px);
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100% ; /* Set the width */
  height: 100% ;  /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal1 {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100% ; /* Set the width */
  height: 100% ;  /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

 .modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 55px;
  margin: 20% auto;
  border: 1px solid #888;
  width: 400px !important; /* Could be more or less, depending on screen size */
  height: 160px !important; 
}

.modal1 .modal-content .msg{
  margin-top: 7%;
  margin:1% auto;
  color:black !important;
}

.modal .modal-content .input{
  position: absolute;
  padding: 10px, 10px;
  top: 20px;
}
.close1 {
  color: #aaa;
  float: right;
  /* align-items: right; */
  font-size: 28px;
  font-weight: bold;
  margin-top: -45px;
  margin-right: -30px;
}

.close1:hover,
.close1:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.ok
{
  display: inline-block;
  padding: 15px 40px;
  background-color: #feb543;
  color: #f9fcfb;
  border-radius: 15px;
  -webkit-box-shadow: 0px 2px 7px 0px rgb(32 50 117 / 26%);
  box-shadow: 0px 2px 7px 0px rgb(32 50 117 / 26%);
  -webkit-transition: all .3s;
  transition: all .3s;
  border: none;
  margin-top: 0px;
  margin-left: 245px;
  font-size: 20px;
  /* font-weight: bold; */
  padding: 5px;
  width: 65px;
}
.ok:hover {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}


  