html{
    scroll-behavior: smooth;
  }

body{
    margin:0;
    padding:0;
    background-color:white;
    font-family: "Poppins", sans-serif;
    background-image: url(../img/bg1);
    background-repeat: no-repeat;
    background-size: cover;
    animation: animateFromBottomToTop 1s ease-in-out forwards;
}

@keyframes animateFromBottomToTop {
    0% {
      transform: scale(0) ;
    }
    100% {
      transform: scale(1) ;
    }
  }
  

.team-container
{
    width:100%;
    height: auto; 
}
.text
{
  color: #2e4494;
    font-size: 30px;
    margin-top: 40px;
    font-weight: bold;
    text-transform: none;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.text:hover {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}
 
.row
{
    width: 100%;
    margin:auto;
    margin-bottom: 40px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    
}
@media(max-width: 768px)
{
    .row{
        width: 100%;
    }
    .desc p{
        margin-top:10px;
        font-size: 15px;
    }
    .btn{
        font-size: 10px;
        margin-top:10px;
          padding: 10px 20px;
    }
    .text{
      font-size: 30px;
    }
}
.profile-card
{
    background: -webkit-gradient(linear, left top, right top, from(#864ddf), to(#203376));
    background: linear-gradient(to right, #864ddf, #2e4494);
    width: 25%;
    height: 600px;
    margin: 40px 20px 20px 80px;
    border-radius :7px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    transition : transform 2s;
}
@media(max-width: 468px)
{
    .profile-card
    {
        width: 290px;
        height: 350px;
        margin: 40px 20px 20px 10px;
    }
    .text{
      font-size: 30px;
    }
    .btn{
        font-size: 10px;
        padding: 15px;
    }
    .desc p{
      font-size: 15px;
  }

}
.profile-content
{
    padding:15px;
}
.profile-image
{
    text-align: center;
   
}
img{
    
    width:100px;
    height:100px;
    border-radius: 15%;
    border:2px solid #000066;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  
}
@media(max-width: 830px)
{
    .profile-image
{
    text-align: center;
   
}
.profile-card{
    width:70%;
    height:50%;
    margin: 40px -10px 20px -10px;
    /* transition: transform .3s; */
    -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
    
}

.text{
  font-size: 30px;
}
.btn{
    font-size: 10px;
  padding: 10px 10px;
}
.desc p{
  font-size: 15px;
}
}


.desc
{
    text-align: center;
}
.desc h2
{
    color: white;
    font-size: 25px;
    text-shadow:0px 5px 5px 0px rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) ;
    text-decoration: underline;
  
    
}
.desc p{
    font-size: 20px;
    line-height: 1.3em;
    margin-top: 50px;
    color:white;
   
     
}
.btn-div
{
    text-align: center;
}
.btn
{
    display: inline-block;
  padding: 15px 40px;
    background-color: #feb543;
  color: #f9fcfb;
  border-radius: 25px;
  -webkit-box-shadow: 0px 2px 7px 0px rgba(32, 50, 117, 0.26);
  box-shadow: 0px 2px 7px 0px rgba(32, 50, 117, 0.26);
  -webkit-transition: all .3s;
  transition: all .3s;
  border: none;
  margin-top: 20px;
  font-size: 25px;
  /* font-weight:bold; */
  padding: 15px;
}
.btn:hover {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}
.profile-card:hover{
    transform:scale(1.1);
    z-index: 2;
}
a{
  font-size: 17px;
}
a:link {
  text-decoration: none;
  color:white;
}

a:visited {
  text-decoration: none;
  color:white;
}

a:hover {
  text-decoration: underline;
  color:#feb543;
}

a:active {
  text-decoration: underline;
  color:white;
}
